{% extends "base_no_nav.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'authentication/css/auth.css' %}?v=2">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Sign Up</h2>
    <form id="registerForm" class="form" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <div class="form-errors">
                {{ form.errors }}
            </div>
        {% endif %}
        <!-- Register Form -->
        <fieldset>
            <legend class="visually-hidden">Register</legend>
            <label for="signup_username">Username</label>
            <input 
                id="signup_username" 
                name="username" 
                type="text" 
                autocomplete="username"
                required>

            <label for="signup_email">Email</label>
            <input 
                id="signup_email" 
                name="email" 
                type="email" 
                autocomplete="email"
                required>

            <label for="signup_password1">Password</label>
            <input 
                id="signup_password1" 
                name="password1" 
                type="password" 
                autocomplete="new-password"
                required>

            <label for="signup_password2">Confirm Password</label>
            <input 
                id="signup_password2" 
                name="password2" 
                type="password" 
                autocomplete="new-password"
                required>
        </fieldset>

        <button type="submit" class="btn">
            <i class="fa fa-user-plus"></i> Register
        </button>

        <p class="or">Or sign up with</p>
        <div class="socials" role="group" aria-label="Social signup">
            <button type="button" class="social" aria-label="Sign up with Google">
                <i class="fa-brands fa-google"></i>
            </button>
            <button type="button" class="social" aria-label="Sign up with Facebook">
                <i class="fa-brands fa-facebook-f"></i>
            </button>
            <button type="button" class="social" aria-label="Sign up with Twitter">
                <i class="fa-brands fa-twitter"></i>
            </button>
        </div>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/base.js' %}" defer></script>
<script src="{% static 'authentication/js/auth.js' %}" defer></script>
<script
    defer
    src="https://kit.fontawesome.com/844d1cd656.js"
    crossorigin="anonymous"
></script>
<script src="{% static 'authentication/js/signup.js' %}" defer></script>
{% endblock %}