<div class="home-panel">
    <h1>Welcome to Routine Timer!</h1>
    <p>
        yes, there is nothing here. no, that is on purpose. now away with ye...
    </p>
    <ul class="quick-links">
        <li><a href="{% url 'routine:builder' %}">Create a New Routine</a></li>
        <li><a href="{% url 'routine:list' %}">View My Routines</a></li>
        <li><a href="{% url 'timer:standalone' %}">Standalone Timer</a></li>
        <li><a href="{% url 'home:contact' %}">Contact Us</a></li>
    </ul>
</div>