# Python virtual environment
.venv/
env/
venv/
ENV/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
env.py
.env

# Database
*.sqlite3

# IDE files
.idea/
.vscode/

# Logs
*.log

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride
._*