.timer-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#timer-dial {
    width: 240px;
    height: 240px;
    min-height: 50vh;
}

