{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Routine Timer{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <script
            defer
            src="https://kit.fontawesome.com/844d1cd656.js"
            crossorigin="anonymous"
        ></script>
        {% block extra_css %}{% endblock %}
    </head>
    <body class="minimal-layout">
        <main class="main-content">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                    <button class="message-close">&times;</button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; {% now "Y" %} Routine Timer. All rights reserved.</p>
        </footer>
        {% block extra_js %}
        <script src="{% static 'timer/js/standaloneTimer.js' %}"></script>
        <script src="{% static 'routine/js/timer.js' %}"></script>
        <script src="{% static 'routine/js/detail.js' %}"></script>
        <script src="{% static 'routine/js/list.js' %}"></script>
        <script src="{% static 'routine/js/builder.js' %}"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
         <script>
            window.csrfToken = "{{ csrf_token }}";
            window.startRoutineUrl = '{% url "routine:start_builder" %}';
        </script>
        {% endblock %}
    </body>
</html>